<div class="container">
    <div class="row">
        <div class="col-6">
            <label><b>Account Create</b></label>
        </div>
    </div>

    <form class="form-group" [formGroup]="loginRef" (ngSubmit)="signUp()">

    <div class="row">
            <div class="col-3">
                <label>EmailId</label>
            </div>
            <div class="col-3">
               <input type="email" class="form-control" formControlName="emailid"/>
            </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label>Password</label>
        </div>
        <div class="col-3">
           <input type="password" class="form-control" formControlName="password"/>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label>TypeOfUser</label>
        </div>
        <div class="col-3">
           <input type="radio" formControlName="typeofuser" value="admin"/>Admin
           <input type="radio" formControlName="typeofuser" value="customer"/>Customer
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <input type="submit" value="SignUp" class="btn btn-success"/>
        </div>
        <div class="col-3">
            <input type="reset" value="Reset" class="btn btn-info"/>
        </div>
    </div>
    </form>

    <span style="color:red">{{msg}}</span>
    <div class="row">
        <div class="col-6">
           <a routerLink="/login">Login</a>
        </div>
    </div>
</div>