<div>
    <form [formGroup]="categoryRef" (ngSubmit)="storeCategory()">
            <label>Category Name</label>
            <input type="text" formControlName="categoryName"/><br/>
            <label>Category Description</label>
            <input type="text" formControlName="categoryDescription"/><br/>
            <label>Image URL</label>
            <input type="url" formControlName="categoryImageUrl"/><br/>
            <input type="submit" [value]="buttonName"/>
            <input type="reset" value="reset"/>
    </form>
    <br/>
    <h2>All Category Details</h2>
    <table border="1">
        <tr>
            <th>CId</th>
            <th>CName</th>
            <th>CDescription</th>
            <th>Image URL</th>
            <th>Delete Category</th>
            <th>Update Category</th>
        </tr>
        <tr *ngFor="let category of category">
                <td>{{category.id}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{category.categoryDescription}}</td>
                <td><img src={{category.categoryImageUrl}}
                    width="100px" height="100px"/></td>
                <td>
        <input type="button" value="delete" (click)="deleteCategory(category.id)"/>
                </td>        
                <td>
        <input type="button" value="update" (click)="updateCategory(category)"/>
                </td>
        </tr>
    </table>
</div>