<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<h3>One Product Info</h3>
PId <strong th:text="*{p.pid}"></strong><br/>
PName <strong th:text="*{p.pname}"></strong><br/>
Price <strong th:text="*{p.price}"></strong><br/>
Qty <strong th:text="*{p.qty}"></strong>
<br/>
<form  action="#" th:action="@{/updateProduct}" method="post" th:object="${p}">
	<label>PName</label>
	<input type="text" th:field="*{pname}"/><br/>
	<label>Price</label>
	<input type="number" th:field="*{price}"/><br/>
	<label>Qty</label>
	<input type="number" th:field="*{qty}"/><br/>
	<input type="submit" value="Store Product"/>
	<input type="reset" value="reset"/>
</form>

<h2>All Products Details</h2>
<table border="1">
	<tr>
		<th>PId</th>
		<th>PName</th>
		<th>Price</th>
		<th>Qty</th>
	</tr>
	<tr th:each="product: ${products}">
		<td th:text="${product.pid}"></td>
		<td th:text="${product.pname}"></td>
		<td th:text="${product.price}"></td>
		<td th:text="${product.qty}"></td>
	</tr>
</table>
</body>
</html>