<div class="container">
    <div class="row">
        <div class="col-6">
            <label><b>Login Page</b></label>
        </div>
    </div>

    <form class="form-group">
    <div class="row">
            <div class="col-3">
                <label>EmailId</label>
            </div>
            <div class="col-3">
               <input type="email" class="form-control"/>
            </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label>Password</label>
        </div>
        <div class="col-3">
           <input type="password" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label>TypeOfUser</label>
        </div>
        <div class="col-3">
           <input type="radio" name="typeofuser" value="admin"/>Admin
           <input type="radio" name="typeofuser" value="customer"/>Customer
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <input type="submit" value="SignIn" class="btn btn-success"/>
        </div>
        <div class="col-3">
            <input type="submit" value="Reset" class="btn btn-info"/>
        </div>
    </div>

    </form>
    <div class="row">
        <div class="col-6">
           <a routerLink="/signup">SignUp</a>
        </div>
    </div>
</div>